.mainContainer{
    display: grid;
    min-height: 100vh;
    gap: 1.5rem;
    grid-template-columns: repeat(4,1fr);
}

.dataContainer{
    height: 350px;
    background: rgba( 255, 255, 255, 0.02 );
    box-shadow: 0 8px 32px 0 rgb(31 38 135 / 37%);
    backdrop-filter: blur( 8px );
    -webkit-backdrop-filter: blur( 8px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    min-width: 270px;
}

.button {
    width: 130px;
    display: flex;
    justify-content: center;
    gap: 5px;
    flex-wrap: wrap;
    align-content: center;
    height: 40px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: rgba( 255, 255, 255, 0.05 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 10px );
    -webkit-backdrop-filter: blur( 10px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    /* box-shadow: inset 2px 2px 2px 0px rgba(78, 24, 216, 0.5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1); */
    outline: none;
}

.button:hover{
    background: rgba( 255, 255, 255, 0.1 );
}

.Dashboard{
    display: grid;
}

@media screen and (max-width:1160px) {
    .mainContainer{
        grid-template-columns: repeat(3,1fr);
    }
}